{% include 'header.html'%}
  

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">




  <div class="container" style="margin-top: 150px; margin-bottom: 500px;">
    <form method="post" action="/store" enctype="multipart/form-data" class="border-top">
        <br>
        <label for="fname">Nombre:</label><br>
        <input type="text" name="txtNombre" id="txtNombre">
        <br>
        <label for="lname">Correo electrónico:</label><br>
        <input type="text" name="txtCorreo" id="txtCorreo">
        <br>
        <br>
        <label for="lname">Foto:</label><br>
        <input type="file" name="txtFoto" id="txtFoto" class="button">
        <br>
        <br>
        <input type="submit" value="Agregar">
    </form>
  </div>    
     









  {% include 'footer.html'%}